<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO APP</title>
</head>
<body>
    <h1>TOP PAGE</h1>

    <a href="/create-task" role="button">TASK RESISTER</a>
    {% for task in tasks %}
        <h2>TASK: {{ task.task }}</h2>
        <p>DETAIL: {{ task.detail }}</p>
        <p>STATUS: {{ task.status }}</p>
        <a href="/detail/{{ task.task_id }}" role="button">Detail</a>
        <a href="/update/{{ task.task_id }}" role="button">Update</a>
        <a href="/delete/{{ task.task_id }}" role="button">Delete</a>
    {% endfor %}
</body>
</html>